@import '../../styles.scss';

.heroes-list {
  margin: rem(24) 0;

  li.selected {
    background: color(blue-800);
    transform: translate(rem(8)) scale(1.05);
  }

  button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.heroes-details {
  h2 {
    margin: 0 0 rem(16);
  }

  input {
    margin: 0 0 0 rem(8);
  }
}
